<template>

    <div style="height:50%;">
    <lightning-layout-item padding="around-small">
        <div class="custom-box slds-box slds-theme_shade slds-theme_alert-texture slds-p-around_medium">
            <lightning-card title='Order Integration Details' icon-name="standard:orders">
                <lightning-badge label="Details"></lightning-badge>
                <lightning-datatable columns={columns} data={orders} hide-checkbox-column="true" key-field="Id">
                </lightning-datatable>    
            </lightning-card>  
        </div> 
    </lightning-layout-item>
    </div> 
</template>