<template> 

    

    <div style="height: 300px;">
        <lightning-card title='Opportunity Details' icon-name="standard:opportunity">
            <lightning-badge label="Case"></lightning-badge>    
            <lightning-datatable
                    key-field="id"
                    data={data}
                    show-row-number-column
                    row-number-offset={rowOffset}
                    hide-checkbox-column
                    columns={columns}
                    sorted-by={sortedBy}
                    sorted-direction={sortedDirection}
                    onsort={updateColumnSorting}
                    is-loading={tableLoadingState}>
            </lightning-datatable>
        </lightning-card> 
    </div>    
</template>