<template> 

    

    <div style="height:30%;">
        <lightning-card title='Account Details' icon-name="standard:account">
            <lightning-badge label="Account"></lightning-badge>    
            <lightning-datatable
                    key-field="id"
                    data={data}
                    show-row-number-column
                    row-number-offset={rowOffset}
                    hide-checkbox-column
                    columns={columns}
                    sorted-by={sortedBy}
                    sorted-direction={sortedDirection}
                    onsort={updateColumnSorting}
                    is-loading={tableLoadingState}>
            </lightning-datatable>
        </lightning-card>
    </div>    
</template>