<template> 

    <lightning-accordion allow-multiple-sections-open={multiple}>
        <template if:true={data}>
            <template for:each={data} for:item="dCase">
                <lightning-accordion-section name={dCase.Subject} label={dCase.Subject} key={dCase.Id}>
                    <lightning-layout-item padding="around-small">
                        <div class="custom-box slds-box slds-theme_shade slds-theme_alert-texture slds-p-around_medium">
                    <lightning-card title='Case Details' icon-name="standard:case">
                        <lightning-badge label="Details"></lightning-badge>
                        <lightning-datatable key-field="id" data={data} show-row-number-column
                            row-number-offset={rowOffset} hide-checkbox-column columns={columns} sorted-by={sortedBy}
                            sorted-direction={sortedDirection} onsort={updateColumnSorting} onrowaction={navigateToRecordViewPage}
                            is-loading={tableLoadingState}>
                        </lightning-datatable> 
                    </lightning-card>
                    </div>
                    </lightning-layout-item>
                </lightning-accordion-section>
            </template>
        </template>
    </lightning-accordion>
</template>