<template>
    <lightning-layout> 
        <lightning-layout-item padding="around-small">
            <div class="custom-box slds-box slds-theme_shade slds-theme_alert-texture slds-p-around_medium slds-text-align_center">
                <lightning-card title='Contact Details' icon-name="standard:contact">
                    <lightning-badge label="Details"></lightning-badge>
                    <lightning-record-edit-form record-id={recordId} onload={handleLoad} object-api-name="Contact">
                        <lightning-messages>
                        </lightning-messages>
                        <lightning-input-field label="Account Name" data-field="AccountId" field-name="AccountId"
                            onchange={handleFieldChange}>
                        </lightning-input-field>
                        <lightning-input label="First Name" data-field="FirstName" field-name="First Name"
                            value={contactRecord.FirstName} onchange={handleFieldChange}>
                        </lightning-input>
                        <lightning-input label="Last Name" data-field="LastName" field-name="Last Name"
                            value={contactRecord.LastName} onchange={handleFieldChange}>
                        </lightning-input>
                        <lightning-input-field label="Email" data-field="Email" field-name="Email"
                            onchange={handleFieldChange}>
                        </lightning-input-field>
                        <lightning-button class="slds-m-top_small" variant="brand" name="save" label="Save"
                            onclick={saveForm}>
                        </lightning-button>
                    </lightning-record-edit-form>
                </lightning-card>
            </div>
        </lightning-layout-item>
    </lightning-layout>
</template>